<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funcportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dff0b619-a47c-4138-a94a-05830a36659a/resourceGroups/funcportal/providers/Microsoft.Web/sites/funcportal</ResourceId>
    <UserName>$funcportal</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://funcportal.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>